<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Tuto tableau</title>
    <style>
        .table-facture th,
        .table-facture td {
            border: 1px solid gray;
            padding: 5px;
        }

        .table-facture {
            border-collapse: collapse;
            width: 100%;

        }

        .table-facture th,
        .table-facture td {
            border: 1px solid gray;
            padding: 5px;
        }

        .table-facture .lib-total {
            text-align: right;
            border-style: none;
        }

        td.lib-acti {
            /*font-style: italic;*/
            width: 200px;
            text-align: center;
        }

        td.fld-num,
        th.fld-num {
            text-align: right;
            width: 60px;
        }

        td.fld-log {
            text-align: center;
        }

        .table-facture thead {
            background-color: black;
            color: white;

        }

        .table-facture tbody {
            /*background-color: ivory;*/
        }

        table > caption {
            font-size: 20px;
            padding: 5px;
        }

        .container {
            display: table;
            width: 100%;
            padding-left: 4px;
            padding-right: 4px;
        }

        .container div {
            display: table-cell;
        }

        .bgcaddie {
            color: #011D7A !important;
        }

        .textLogo {
            font-family: Candara;
            font-weight: bold;
            font-size: 2.8rem;
        }

        .LinkLogo, .LinkLogo:hover, .LinkLogo:focus {
            text-decoration: none;
        }

        .text-dark {
            color: #343a40 !important;
        }

        body {
            font-size: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <div>
        <a class="LinkLogo" href="/">
            <span class="textLogo bgcaddie">Village</span><i class="fa fa-solid fa-guitar"></i><span
                    class="textLogo text-dark">Green</span>
        </a>

        <p>10 rue de la guitare</p>
        <p>80000 Amiens</p>
    </div>
    <div>
        <p>{{ order.customer.gender|capitalize }}
            {{ order.customer.lastname|capitalize }}
            {{ order.customer.firstname|capitalize }}</p>
        <p>{{ order.LivesBilling.address }}  </p>
        <p>{{ order.LivesBilling.zipcode }} {{ order.LivesBilling.city|capitalize }}
            {{ order.LivesBilling.country|capitalize }} </p>
        <p>Date : {{ order.orderDate|date('Y-m-d h:i:s') }} </p>

    </div>
</div>


<table class="table-facture">
    <caption>Facture n°{{ order.id }}</caption>
    <thead>
    <tr>
        <th>Produit</th>
        <th>Quantité</th>
        <th>Prix unitaire</th>
    </tr>
    </thead>
    <tbody>
    {% set total = 0 %}
    {% set quantite = 0 %}
    {% for row in order.ordersDetails %}
        <tr>
            {#        {{ dump(row) }} #}

            <td class="fld-log">{{ row.product.name }}</td>
            <td class="fld-num">{{ row.quantite }}</td>
            <td class="lib-acti">{{ row.unitPrice }}€</td>
        </tr>
        {% set total = total + row.unitPrice * row.quantite %}
    {% endfor %}
    </tbody>

    <tfoot>
    <tr>
        <th colspan="2">Sous Total HT</th>
        <td class="lib-acti">{{ total }}€</td>
    </tr>
    <tr>
        <th colspan="2">Tva</th>
        {% set tva = total *0.2 %}
        <td class="lib-acti">{{ tva }}€</td>
    </tr>

    <tr>
        <th colspan="2">Total TTC</th>
        <td class="lib-acti">{{ total + tva }}€</td>
    </tr>
    </tfoot>
</table>
</body>
</html>